.sectionTitle{
    margin-top: 3%;

}
/*Typography*/
h1, h2, h3 , h4, h5, h6 {
    color: #1B6682;
    font-family: fantasy, sans-serif;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    display: block;
    font-family: fantasy;
}

h1{
    display: flex;
    justify-content: center;
}

h4 {
    margin-top: 50px;
    padding: 20px;
}

.jumbotron h1{
    color: white;
}

.about-heading{
    text-align: left;
}

/*About Section*/


/*Jumbotron*/
.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/CoverPhoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(100vh-25px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
}

/*Nav*/
.customNav{
    max-height: 70px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

.nav-item {
    margin: 0px 20px;
}

/* Cards */
.cardContainer {
    text-align: center;
    margin-top: 20px;
}

.card {
    margin: 0 auto;
}

/*Footer*/
footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin: 50px, 20px;
}

.icon{
    color: #1B6682;
    padding: 10px;
}

