body {
    color: rgb(223, 223, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17pt;
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    font-size: 36pt;
}

h2 {
    color: mintcream;
    margin: auto;
    padding-left: 1%;
    font-family: fantasy;
    font-size: 24pt;
}

h3 { 
    font-family: fantasy;
    font-size: 20pt;
}

li {
    font-family: fantasy;
    font-size: 17pt;
}
html{
    background: radial-gradient(rgb(0, 181, 212)0%,rgb(0, 0, 0)100%);
    background-size: contain;
    background-repeat: no-repeat;
}

p{
    text-align: left;
    font-family: fantasy;
    font-size: 17pt;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
}

div{
    text-align: center;
    margin: auto;
    padding: 2%;
}

img{
    max-width: 200px;
    align-content: center;
    float: right;
    padding: 2%;
    text-shadow: 10px;
}

ol {
    padding-left: 5%;
    text-align: left;  
}

i {
    color:blue;
    padding: 5px;
}