/*Eyes CSS*/
body{
    margin: 0;
    padding: 0;
    background: #E57200;
}

.eyes{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye{
    width: 120px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.ball{
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 15px solid #333;
}

.error{
    text-align: center;
    color: white;
}

button{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 5%;
    color: white;
    background: #FFFAE8;
    cursor: pointer;
}
